*.iml
*.ec
*.ipr
*.iws
*.swp
*~
*.log
*.pmd
log
temp_*
*.log.*
p_storage_replica
*.keep.*
*.keep
*.unloaded*
gen-src
build/classes
*/build/classes/
**/build/classes/

*.class

*/CloudSecuirty
*.classpath

.project
.pydevproject
.classpath
.settings
.metadata

.CACHED*
mvn_build_log*

target
*/target
*/*/target
generated
*/generated
*/*/generated
iceoutput
/build/

*.ser
.hg
*.ipr.*
q.txt 
p_storage
gen-meta-src
gen-test
gen-web-content

*.orig
*META-INF*
*eclipse*

